.nav-list{
    margin: 1em;
    margin-bottom: 4em;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1);
    text-align: center;
    align-items: center;
}

.mainPageButton{
    grid-column: 1/2;
}

.mainPage{
    padding: 1em;
    border-radius: 10px;
    background-color: rgba(162, 224, 235, 1);
    color: rgba(255, 255, 255, 1);
    border: 0;
}

.map{
    grid-column: 2/3;
}

.info{
    grid-column: 3/10;
}

.info p{
    font-size: 1em;
}

.info a{
    font-size: 1.25em;
    color: rgba(0, 0, 0, 1);
}

.messangers{
    grid-column: 10/11;
}

/* .messangers img{
    width: 33%;
} */

.numberOne{
    font-size: 0.6em;
    grid-column: 11/12;
}

.numberTwo{
    font-size: 0.6em;
    grid-column: 12/13;
}

.numberOne a, .numberTwo a{
    text-decoration: underline;
}

.nav-list a{
    text-align: center;
}   

.nav-btn{
    display: none;
}

@media (max-width: 800px){
    .nav-btn{
        display: block;
        font-size: 2em;
        padding-inline: 1em;
        padding-bottom: 0.09em;
        background: rgba(162, 224, 235, 1);
        color: rgba(255, 255, 255, 1);
        border: none;
        cursor: pointer;
    }

    .nav-btn:hover{
        color: black;
    }

    .nav-list{
        display: none;
        z-index: 3;
        margin: 0;
        text-align: center;
        justify-content: center;
    }

    .info{
        display: grid;
        grid-template-columns: repeat(1);
        grid-template-rows: repeat(4, 1fr);
    }

    .drop:hover .nav-list{
        display: block;
        position: absolute;
        background: rgba(162, 224, 235, 1);
    }

    .nav-bar{
        justify-content: space-between;
    }
}