.nav-list{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1);
    text-align: center;
}

.mainPageButton{
    grid-column: 1/2;
}

.map{
    grid-column: 2/3;
}

.info{
    grid-column: 3/8;
}

.messangers{
    grid-column: 8/9;
}

.numberOne{
    grid-column: 9/11;
}

.numberTwo{
    grid-column: 11/13;
}

.nav-list a{
    text-align: center;
}   

.nav-btn{
    display: none;
}
